@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-[#030303] text-[#fafafa] antialiased selection:bg-white selection:text-black;
    font-feature-settings: "cv02", "cv03", "cv04", "ss01";
  }

  h1, h2, h3, h4 {
    @apply tracking-tighter;
  }
}

.markdown-body {
  @apply text-sm leading-loose text-zinc-400;
}

.markdown-body strong {
  @apply text-zinc-200 font-bold;
}

.markdown-body p {
  @apply mb-6 last:mb-0;
}

.markdown-body em {
  @apply text-zinc-500 not-italic font-medium border-b border-white/5;
}

.markdown-body ul {
  @apply space-y-2 mb-6 list-none;
}

.markdown-body li {
  @apply flex gap-3 before:content-['—'] before:text-zinc-800;
}
